<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="userprofile">
      <h3>This is Austin Carey</h3>
      <form action="/logout" method="post">
        <button>Log Out</button>
      </form>
    </div>
  </body>
</html>
